extends layout

block content
	h1 #{title}
	
	a(href="fileupload")
		button Upload a data file
	
	a(href="descriptionupload")
		button Upload the description file for the uploaded data file

	a(href="frequencyupload")
		button Upload the frequency file for the uploaded data file
		
	a(href="colleges")
		button Colleges
		
	