doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/c3.css')
		
		script(src='/scripts/d3.min.js')
		script(src='/scripts/c3.min.js')
		script(src='/scripts/jquery.js')
		
	body
		block content