extends layout

block content
	h1 #{title}

	div(id="piechart")
		span(id="L", style="display:none")
		
	script
		var chart = c3.generate({
			bindto: '#piechart',
			data: {
			columns: [
					[ "Female", '#{genderRatio[0].Female}' ],
					[ "Male", '#{genderRatio[1].Male}' ],			
			],

			type: 'pie',
			
			onmouseover: function(d,i){ document.getElementById("piechart").style.display = "block";
					document.getElementByTagName("div")[0].innerHTML= "Currently, there are " + JSON.stringify(d['value']) + " " + d['id'].toLowerCase() + "s enrolled!";
			console.log("Currently, there are " + JSON.stringify(d['value']) + " " + d['id'].toLowerCase() + "s enrolled!"); }},
			
			onmouseout: function(d,i){ document.getElementById("L").style.display = "none" },
			
			tooltip: {
			
				show: false
			
			}
		});