extends layout

block content
	h1 #{title}
	
	p Please upload a #{filetype} file
	
	form(id="upload", enctype="multipart/form-data", method="post", action="#{location}")
		
		input(id="fileupload", name="csvFile", type="file", accept=".csv,.txt,.xls,.xlsx")
		
		input(type="submit", value="submit", id="submit")
	