html{
	position:relative;
	height:10%;
	top: 0;
	left: 0;
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #99CCFF;
}

a {
	color: #4C0000;
	text-decoration: none;
}

li {
	position:relative;
	left:17%;
	width:50%;
	height:4.5%;
	padding: 10px;
	font-size: 25px;
}
	
th, td {
	padding: 15px;
	height: 50px;
}

table {
	width: 100%;
	
}

table, th, td {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
 }
 
 #wrapper{
	position:relative;
	padding:25px;
 }
